body {
    background-color: #212121;
    height: 100vh;
}
.plug {
    position: absolute;
    bottom: 0;
    padding: 10px;
    right: 0;
}
.plug a {
    text-decoration: none;
    color: #666;
}
.plug a:hover{
    text-decoration: none;
    color: #fff;
}